.vscode
nginx/www/alex
nginx/www/share
mariadb/data
mariadb/data/ib_buffer_pool
php/logs/php-service.wrapper.log
mariadb/data/ib_buffer_pool
mariadb/data/ib_logfile0
mariadb/data/ibdata1
mariadb/data/mysql/db.MYI
mariadb/data/mysql/help_category.MYI
mariadb/data/mysql/help_keyword.MYI
mariadb/data/mysql/help_relation.MYI
mariadb/data/mysql/help_topic.MYI
mariadb/data/mysql/user.MYD
mariadb/data/mysql/user.MYI
mariadb/data/performance_schema/db.opt
php/logs/php-service.wrapper.log
nginx/logs/access.log
nginx/logs/error.log
nginx/logs/nginx.pid
nginx/logs/nginx-service.err.log
nginx/logs/nginx-service.out.log
nginx/logs/nginx-service.wrapper.log
php/logs/php-service.wrapper.log
