.vscode
nginx/www/alex
nginx/www/share
php/logs/php-service.wrapper.log
nginx/logs/access.log
nginx/logs/error.log
nginx/logs/nginx.pid
nginx/logs/nginx-service.err.log
nginx/logs/nginx-service.out.log
nginx/logs/nginx-service.wrapper.log
php/logs/php-service.wrapper.log
nginx/logs/nginx-service.err.log.old
nginx/logs/nginx-service.out.log.old

php/logs/php-service.err.log
php/logs/php-service.err.log.old
php/logs/php-service.out.log
php/logs/php-service.out.log.old

*.log
*.old
*.pid
mariadb/data